html {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

.top {
  text-align: center;
  display: inline;
  margin-left: 10px;
  font-size: 25px;
}

.top1 {
  margin-left: 50%;
}

#mainNav {
  background-color: black;
}

header.masthead {
  text-align: center;
  color: white;
  background-color: black;
  background-image: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65)), url("../Images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: darkslategray;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

*/ .portfolio-caption {
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

.portfolio-caption {
  padding: 50px;
  display: none;
}

.footer {
  color: white;
}

#hostel {
  text-align: center;
  color: white;
  background-color: black;
  background-image: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65)), url("../Images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  height: 470px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

#logging {
  background-image: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65)), url("../Images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#registration {
  background-image: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65)), url("../Images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#page1{
  background-color: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65)),white;
}

#page2{
  background-color: linear-gradient(rgba(47, 23, 15, .65), rgba(47, 23, 15, .65));
}
